//Kleurenpallet

$hoofdkleur: #000;
$blauw: #3a5ff2 ;
$rood: #e16969;
$tekstkleur: #333 ;
$achtergrondkleur: #eee;


// Fonts

$hoofdfont: Montserrat;

//Schermbreedtes

$smal-scherm: 480px;
$medium-scherm: 640px;
$breed-scherm: 1000px;
$max-width: 1920px;