 <body>
<header id="mainheader">
    <div class="container">
        <a href="index.php" title="link naar de homepagina" class="img"><img src="img/logo-licht.png" alt="IMGine logo"></a>
        <a href="upload.php" title="upload hier jouw afbeelding!" class="upload hover">Upload</a>
        <a href="user-page.php?id=@@user_id@@" title="Kijk naar jouw userpagina" class=" hover">@@user_username@@</a>
        <a href="user-settings.php?id=@@user_id@@" title="Kijk naar jouw userpagina" class="login hover">Settings</a>
        <a href="lib/logout.php" title="Log out!" class="register hover">Log out</a>

    </div>
</header>
<main class="container">