 <body>
<header id="mainheader">
    <div class="container">
        <a href="index.php" title="link naar de homepagina" class="img"><img src="img/logo-licht.png" alt="IMGine logo"></a>
        <a href="upload.php" title="upload hier jouw afbeelding!" class="upload hover">Upload</a>
        <a href="login.php" title="Log in!" class="login hover">Log in</a>
        <a href="register.php" title="Registreer hier!" class="register hover">Registreer</a>

    </div>
</header>
<main class="container">

