 <section class="noaccess">
    <div>
        <h1>Geen toegang!</h1>
        <p>Gelieve eerst in te loggen</p>
    </div>
    <div class="card">

        <div class="">
            <h5 class="card-title">Log In</h5>
            <p class="card-text">Als u al een account heeft, kan u hier inloggen</p>
            <a href="login.php" class="btn btn1">Login</a>
        </div>

        <div class="">
            <h5 class="">Registreer</h5>
            <p class="">Als u nog geen account heeft, kan u hier registreren</p>
            <a href="register.php" class="btn btn2">Registreer</a>
        </div>

    </div>