 <form id="registration_form" method="post" action="lib/register.php">
<fieldset>
    <legend>Welcome new user!</legend>
    <ul>
        <li><label for="user_voornaam">First name:</label>
            <input type="text" id="user_voornaam" name="user_voornaam" placeholder="Enter your first name here" tabindex="1" value="<?php echo htmlspecialchars($user_voornaam) ?>"> <!-- htmlspecialchars dat speciale tekens omgezet worden in escape enteties zodat eventuele code niet gerund kan worden -->
            <p class="errors"> <?php echo $errors['user_voornaam']; ?></p></li>

        <li><label for="user_naam">Last name:</label>
            <input type="text" id="user_naam" name="user_naam" placeholder="Enter your last name here" tabindex="2" value="<?php echo htmlspecialchars($user_naam) ?>">
            <p class="errors"> <?php echo $errors['user_naam']; ?></p></li>

        <li><label for="user_email">E-mail:</label>
            <input type="text" id="user_email" name="user_email" placeholder="Enter your e-mail address here" tabindex="3" value="<?php echo htmlspecialchars($user_email) ?>">
            <p class="errors"> <?php echo $errors['user_email']; ?></p></li>

        <li><label for="user_username">Username:</label>
            <input type="text" id="user_username" name="user_username" placeholder="Enter a unique username here" tabindex="4" value="<?php echo htmlspecialchars($user_username) ?>">
            <p class="errors"> <?php echo $errors['user_username']; ?></p></li>

        <li><label for="user_date">Birthday:</label>
            <input type="date" id="user_date" name="user_date" placeholder="Enter your birthday here" tabindex="5" value="<?php echo htmlspecialchars($user_date) ?>">
            <p class="errors"> <?php echo $errors['user_date']; ?></p></li>

        <li><label for="user_password">Password:</label>
            <input type="password" id="user_password" name="user_password" placeholder="Enter your password here" tabindex="6">
            <p class="errors"> <?php echo $errors['user_password']; ?></p></li>
    </ul>
</fieldset>
<p>
    <input name="registerbutton" type="submit" tabindex="7" value="Register">
    <a href="login.php" title="Link naar de login pagina" tabindex="8">Already a member?</a>
</p>
</form>